.sidebar-container {
  box-sizing: border-box;
  border: 1px solid #dce5eb;
  padding: 10px;
  border-radius: 10px;
  .sidebar-search {
    position: relative;

    form {
      position: relative;
      padding: 5px 0;
      margin-bottom: 15px;

      input {
        position: relative;
        font-size: 14px;
        padding: 10px 4px 10px 15px;
        display: block;
        color: black;
        border: 1px solid #dce5eb;
        border-radius: 8px;
        width: 100%;
      }

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        padding-right: 15px;
        border: none;
        background: none;
        color: #c8cccf;
      }
    }
  }
}
