.home-search-area {
  margin-top: -40px;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  form.row {
    width: 90%;
    padding: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 43px 66px rgba($color: black, $alpha: 0.07);

    label.home-search-label {
      display: block;
      padding: 10px 0 0;
      margin-bottom: 10px;
      font-size: 18px;
      position: relative;
      font-weight: bold;
    }

    select , input {
      display: block;
      width: 100%;
      padding: 20px 10px 5px;
      border: none;
      border-bottom: 1px solid #e3e3e3;
    }

    input:focus{
        outline: none;
        border-bottom: 2px solid black;
    }
    .home-search-btn {
        width: 100%;
        display: block;
        height: 100%;
        background-color: $theme-color;
        
    }
  }
}
